<% layout('layout', { title: 'Listado de Traducciones' }) %>
<div class="mb-3">
  <a href="/agregar" class="btn btn-success">Agregar Nueva Traducción</a>
</div>
<table class="table table-bordered">
  <thead class="table-light">
    <tr>
      <th>Palabra</th><th>Traducción</th><th>Pronunciación</th><th>Categoría</th><th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <a href="/editar/" class="btn btn-sm btn-warning">Editar</a>
          <a href="/eliminar/" class="btn btn-sm btn-danger">Eliminar</a>
        </td>
      </tr>
  </tbody>
</table>
